<p align = "center">
    <strong>ISBN</strong>
    <%= @book.isbnnumber %>
    <%= link_to 'Back', books_path %>
</p>

<style>
    body{
        background-image: url('https://cdn.wallpapersafari.com/52/31/mQgWhS.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style> 
